@model AuthorizationServer.ViewModels.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <span>UserName：</span>
        <input asp-for="UserName" /><br />
        <span>PassWord：</span>
        <input type="password" asp-for="PassWrod" /><br />
        <input type="hidden" asp-for="ReturnUrl"/>
        <input type="submit" value="submit" />
    }
</body>
</html>
